# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-e5b30ec1356c2d518dcb.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-1a40f0648a38cf07da07.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8258f4256c02469e1f3a.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-08-13T12-26-56-0239.json
/cmake-build-debug/.cmake/api/v1/reply/target-main-Debug-bb70c957965ca2c1edc2.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ef8110511b7a1de1cb7b.json
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug-coverage/.cmake/api/v1/query/cache-v2
/cmake-build-debug-coverage/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug-coverage/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug-coverage/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug-coverage/.cmake/api/v1/reply/cache-v2-7dd9fa604266f82eb887.json
/cmake-build-debug-coverage/.cmake/api/v1/reply/cmakeFiles-v1-37018fde2950bdef3fb0.json
/cmake-build-debug-coverage/.cmake/api/v1/reply/codemodel-v2-4f7cbab355cb4a3c7536.json
/cmake-build-debug-coverage/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug-coverage/.cmake/api/v1/reply/index-2024-08-13T12-26-57-0752.json
/cmake-build-debug-coverage/.cmake/api/v1/reply/target-main-Debug-52b7318655c80aea8665.json
/cmake-build-debug-coverage/.cmake/api/v1/reply/toolchains-v1-2fca2e1ad88e9dd26f5f.json
/cmake-build-debug-coverage/CMakeFiles/3.25.2/CompilerIdC/a-CMakeCCompilerId.gcno
/cmake-build-debug-coverage/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug-coverage/CMakeFiles/3.25.2/CompilerIdCXX/a-CMakeCXXCompilerId.gcno
/cmake-build-debug-coverage/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug-coverage/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug-coverage/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug-coverage/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug-coverage/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug-coverage/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
/cmake-build-debug-coverage/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug-coverage/CMakeFiles/main.dir/src/controlled_logical_clock/clc.cpp.gcno
/cmake-build-debug-coverage/CMakeFiles/main.dir/src/iterative_linear_least_squares/ills.cpp.gcno
/cmake-build-debug-coverage/CMakeFiles/main.dir/src/logical_clock_with_direct_dependency/lcwdd.cpp.gcno
/cmake-build-debug-coverage/CMakeFiles/main.dir/src/math/misc.cpp.gcno
/cmake-build-debug-coverage/CMakeFiles/main.dir/src/main.cpp.gcno
/cmake-build-debug-coverage/CMakeFiles/clion-Debug-Coverage-log.txt
/cmake-build-debug-coverage/CMakeFiles/clion-environment.txt
/cmake-build-debug-coverage/CMakeFiles/cmake.check_cache
/cmake-build-debug-coverage/CMakeFiles/CMakeError.log
/cmake-build-debug-coverage/CMakeFiles/CMakeOutput.log
/cmake-build-debug-coverage/CMakeFiles/rules.ninja
/cmake-build-debug-coverage/CMakeFiles/TargetDirectories.txt
/cmake-build-debug-coverage/Testing/Temporary/LastTest.log
/cmake-build-debug-coverage/.ninja_deps
/cmake-build-debug-coverage/.ninja_log
/cmake-build-debug-coverage/build.ninja
/cmake-build-debug-coverage/cmake_install.cmake
/cmake-build-debug-coverage/CMakeCache.txt
